.scene {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  /* border: solid black 2px; */
  /* overflow-x: hidden; */
}

.bg-img {
  position: absolute;
  /* height: 100vh; */
  width: 100vw;
  object-fit: contain;
  pointer-events: none;
}

.fg-img {
}

.reward {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
