.scene {
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

.bg-container {
  height: 100vh;
  width: 100vw;
  /* border: 10px black solid; */
}

.bg-img {
  position: absolute;
  width: 100%;
  object-fit: contain;
  pointer-events: none;
}

.fg-img {
}

.reward {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
